attrs==20.3.0
autoscraper==1.1.10
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
coverage==5.3
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
lxml==4.6.2
mccabe==0.6.1
packaging==20.7
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
requests==2.25.0
soupsieve==2.0.1
toml==0.10.2
urllib3==1.26.2
